//Colors
$--black-color-800: #333;
$--black-color-900: #000;

$--white-color-900: #fff;

$--gray-color-100: #f2f2f2;
$--gray-color-200: #e2e2e2;
$--gray-color-300: #d2d2d2;
$--gray-color-400: #c2c2c2;
$--gray-color-500: #b2b2b2;
$--gray-color-600: #a2a2a2;
$--gray-color-700: #929292;
$--gray-color-800: #828282;
$--gray-color-900: #727272;

$--color-disabled: #c3c3c6;
$--color-info: #00a5c2;
$--color-danger: #ff4238;
$--color-warning: #f58700;
$--color-success: #00bd5e;

//Font sizes
$--font-xs: 1.1rem;
$--font-sm: 1.4rem;
$--font-base: 1.6rem;
$--font-lg: 1.8rem;
$--font-xl: 2rem;
$--font-2xl: 2.4rem;
$--font-3xl: 2.6rem;
$--font-4xl: 3rem;
$--font-5xl: 3.6rem;
$--font-6xl: 4rem;
$--font-7xl: 4.8rem;
$--font-8xl: 6rem;
$--font-9xl: 7.2rem;

//Common
$--primary-color: $--black-color-900;
$--secondary-color: $--white-color-900;
$--color-text: $--black-color-900;
$--color-background: $--gray-color-100;
